{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    	<link rel="icon" href="{% static 'logo_kvadraten_majhen.png' %}">  
	<script>


	</script>

	<style>


body {
    background-size: 40%;
    background-color: #cccccc;
}

.center {
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
}


</style>
</head>


<body background="{% static 'Untitled-1.png' %}">

<div id="main">
</div>

<form action="" method="POST" class="w3-container">
	{% csrf_token %}

	<p style="width:50%;" class="center">
		{{ form.username.label}}
		{{ form.username|add_class:'w3-input' }} 
		{{ form.password.label }}
		{{ form.password|add_class:'w3-input' }}
	

	{% if form.errors %}
		{% for field in form %}
		    {% for error in field.errors %}
		        <div>
		            <strong>{{ error|escape }}</strong>
		        </div>
		    {% endfor %}
		{% endfor %}
		{% for error in form.non_field_errors %}
		    <div >
		        <strong>{{ error|escape }}</strong>
		    </div>
		{% endfor %}
	{% endif %}
	<br>

	<input type="submit" value="Sign in" class="w3-button w3-white" />
</p>
				
</form>


</body>
</html>
