{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<script src="jquery-3.2.1.min.js"></script>

	<script>


	</script>

	<style>


body {
    background-size: 40%;
    background-color: #cccccc;
}


</style>
</head>


<body background="{% static 'Untitled-1.png' %}">

<div id="main">
</div>

<form action="" method="POST">
	{% csrf_token %}
	<p>
		{{ form.username.label }}
		{{ form.username }} 
	</p>
				
	<p>
		{{ form.password.label }}
		{{ form.password }}
	</p>

	{% if form.errors %}
		{% for field in form %}
		    {% for error in field.errors %}
		        <div>
		            <strong>{{ error|escape }}</strong>
		        </div>
		    {% endfor %}
		{% endfor %}
		{% for error in form.non_field_errors %}
		    <div >
		        <strong>{{ error|escape }}</strong>
		    </div>
		{% endfor %}
	{% endif %}

	<input type="submit" value="Sign in" />
				
</form>


</body>
</html>
